*{
    font-family: sans-serif;
  }
  body{
      background-color: black;
      margin: 0;
      
  }
  .about-footer{
      color:azure;
      text-align: center;
      position: fixed ;
      margin-top: 2vh;
      width: 100%;
      clear: both;
  }
  /*Navigation bar*/
header{
  display: flex;
  justify-content: space-between;  
}
.left-nav img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-size: cover;
  margin-left: 15px;
  margin-top: 10px;

}
.right-nav{
  margin-right: 50px;
}
.right-nav ul{
  display: flex;
  margin-right: 15px;
  list-style-type: none;
  margin-top: 20px;
  

}

.right-nav ul li a{
 
  text-decoration: none;
  list-style: none;
  color: azure;
  padding-left: 20px;
  font-size: 1rem;
  font-weight: bold;
}
.right-nav ul li a:hover{
  text-decoration: underline;
}
  /* about page*/
  .intro{
    color: azure;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1rem

  }
  .main-about{
    display: flex;
    color: azure;
    font-size: 0.5rem;
  }
  .main-about h1{
    font-size: 1.2rem;
    font-weight:bold;
    text-align: center;
  }
  .main-about .about-left{
    width: 100%;
    margin-left: 5%;
    margin-right: 70px;

  }

 .main-about .about-left .skillbox p
  {
    padding: 0;
    margin: 0 0 10px;
    text-transform: uppercase;
    color:azure;
    font-size: 1.2rem;
    font-weight: bold;
    white-space: nowrap;
  
  }
  .main-about .about-left .skillbox p:nth-child(2)
{
  float: right;
  position: relative;
  top: -25px;
}
.main-about .about-left .skill{
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px; 
}
.main-about .about-left .level{
  width: 100%;
  height: 15px;
  border-radius: 8px;
}
.main-about .about-right{
    width: 100%;
    margin-left: 5%;
    margin-right: 70px;
  }
  .main-about .about-right .gggi img {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    

  }
  .main-about .about-right .primo img{
    text-align: center;
    width: 100%;
    padding-bottom: 5px;
  }
  .main-about .about-right .position{
    text-align: center;
    text-transform: uppercase;
    color:azure;
    font-size: 1.2rem;
    font-weight: bold;
  }