*{
    font-family: sans-serif;
  }
body{
    background-color:black;
    margin: 0;
    color:azure;
    
}
.manageusers-footer{
color:azure;
text-align: center;
position: fixed ;
margin-top: 2vh;
width: 100%;
clear: both;
}
/*Navigation bar*/
header{
    display: flex;
    justify-content: space-between;  
}
.left-nav img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: cover;
    margin-left: 15px;
    margin-top: 10px;

}
.right-nav{
    margin-right: 50px;
}
.right-nav ul{
    display: flex;
    margin-right: 15px;
    list-style-type: none;
    margin-top: 20px;
    

}

.right-nav ul li a{
   
    text-decoration: none;
    list-style: none;
    color:azure;
    padding-left: 20px;
    font-size: 1rem;
    font-weight: bold;
}
.right-nav ul li a:hover{
    text-decoration: underline;
}
/*manageblogs*/
.page-content h1{
    margin-left: 45%;
    font-size: 2rem;
    
}
hr{
    border:1px solid azure;
}
.message{
    margin-top: 10px;
    padding: 10px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2px;
    border: #BBEDEC;
}
.message.success{
    border: 1px solid green;
    background-color:#11192E;
    color: green;
}
.message.warning{
    border: 1px solid yellow;
    background-color:#11192E;
    color: yellow;
}
.message.error{
    border: 1px solid red;
    background-color:#11192E;
    color: red;
}
.message .message-icon{
    font-size: 2rem;
    margin-right: 15px;

}

.hide{
    display: none;
}
.featured-post-form{
    padding-top: 15px;
}
.featured-post-form.input-control-sm{
    max-width: 500px;
    width: 100%;
    margin:8px,0;

}

.admin-table table {
    width:100%;
    background-color: #11192E ;
    border-collapse: collapse;
    border-spacing:0;
    border: 1px solid#BBEDEC;
    margin-top: 20px;
}
.admin-table table tr {
    border-top: 1 px solid#BBEDEC;
}
.admin-table table th,.admin-table table td{
    padding: 16px;
    text-align: left;
}
.admin-table table td a{
    text-decoration: none;
    color:azure

}
.admin-table table td a:hover{
  text-decoration: underline;  
}
.admin-table table td .td-action-links .trash{
    color:red;
    
}
.admin-table table td .td-action-links .edit{
    color:#BBEDEC
    
}
.admin-table table td .td-action-links .inline-divider{
   color:cadetblue;
   margin:0,4px; 
    
}
.admin-table table td .td-action-links{
    font-size: 1rem;
    margin-top: 10px;
}

.table-actions{
   display: flex; 
   justify-content: space-between;
   padding: 10px,0;
   align-items: center;
}
.table-actions .table-filter-group{
    border:1px solid #BBEDEC;

}
.table-actions{
    flex-basis: 50%;
    text-align: right;
    border:1px solid azure;
}
.table-actions .table-buttons{
    background-color: #BBEDEC;
    width: 100px;
    height: 30px;
    padding-top: 10px;
    margin-right: 10px;
    padding-right: 10px;
    border-radius: 50px;
    
}
.table-actions .table-buttons a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    
    
}
.table-actions .table-buttons a:hover{
    text-decoration: underline;
}

/*pagination*/
.admin-table .pagination-links {
   display: flex; 
   justify-content: flex-end;
}
.admin-table .pagination-links .link{
    font-size: 1rem;
    background-color: transparent;
    padding: 0.4rem 0.8rem;
    min-width:40px;
    border: 1px solid azure
}
.admin-table .pagination-links .link.active{
    background-color: cadetblue;

}
