/* general, sign up, login*/
*{
    font-family: "Poppins" , sans-serif;
}
body{
    background-color: black;
}
header{
    height: 70px;
    margin-top: 50px;
}
.left-nav{
    float:left;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-image: url("assets/avatar.jpeg");
    background-size: cover;
    
}
.right-nav{
    float:right;
    margin-right: 5%;
}
.right-nav li{
    color: #C9C9C9;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}
.right-nav ul li a{
    text-decoration: none;
    color: #C9C9C9;
    font-weight: bold;

}
footer{
    color:#C9C9C9;
    clear: both;
    margin-top:10vh;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
p1{
  color: #C9C9C9;
  margin-right: 5%;

}
p{
  color: #C9C9C9;
  margin-right: 3%;
}
h1{
  color: #fff;
  position: center;
  align-items: center;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 10px;
}
h2{
  color: #fff;
  font-size: 64px;
}
.main-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  margin-top: 25px;
  
}
.log-sign{
  color: #fff;
  position: center;
  align-items: center;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 10px;
}

/*contact page*/
.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .left-side{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 90%;
  width: 2px;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.left-side p {
  color:#C9C9C9;
  font-family:"Poppins" , sans-serif;
  text-align: center;
}
.content .left-side .details i{
  font-size: 50px;
  color: #ffffff;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
  color:#fff
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.content .right-side{
  width: 50%;
  margin-left: 75px;
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 10px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 90%;
  width: 90%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #D9D9D9;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
  background-color: #D9D9D9;
  height: 95%;
  width: 95%;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .submit{
  display: inline-block;
  margin-top: 12px;
}
.right-side p{
  color: #C9C9C9;
  text-align:left
}
form .submit input[type="submit"]{
  color: #fff;
  font-size: 18px;
  background: #6689B1;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 1px 60px;
  width: 376px;
  height: 40px;
  left: 532px;
  top: 641px;
  border-radius: 50px;
}
.submit input[type="submit"]:hover{
  background: #C9C9C9;
}
form .auth input{
  background-color: #D9D9D9;
  color: #8D8D8D;
  width: 376px;
  height: 44px;
  
}


/* Home page*/
.left-home input{
  width: 150px;
  height: 45px;
  left: 135px;
  top: 875px;
  background: #6689B1;
  margin-top: 30px;
  color:#fff;
  font-weight: bold;
  font-size: 26px;

}
.left-home{
  display: flex;
  flex-direction: column;
  margin-left: 8%;
}
.right-home{
  margin-right: 8%;
  margin-top: 6%;
}
.right-home img{
  width: 100%;
  
}
.diane{
  color:#fff;
  font-weight: bold;
  margin-left: 1%;
  font-size: 24px;
}
/*education page*/
.edu-left{
  display:flex;
  flex-direction: column;
  margin-left: 12%;
}
.edu-right{
  display:flex;
  flex-direction: column;
  margin-right: 12%;
}
.year{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #C9C9C9;

}
.school-name{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  color: #6689B1;

}
.program{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #C9C9C9;

}
p3{
  color: #C9C9C9;
}
/*about page */
.skillbox
{
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0;

}
.skillbox p
{
  padding: 0;
  letter-spacing: 1px;
  margin: 0 0 25px;
  text-transform: uppercase;
  color:#C9C9C9;
  font-weight: bold;
  white-space: nowrap;


}
.skillbox p:nth-child(2)
{
  float: right;
  position: relative;
  top: -25px;
}
.skill
{
  box-sizing: border-box;
  background: #fff;
  border-radius: 8px;
  
}
.level
{
  
  width: 100%;
  height: 15px;
  border-radius: 8px;
}
.about {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.3rem;
  color: #8D8D8D;
  
}
.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}
.about-right h1{
  margin-top: -30%;
}
.position{
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #C9C9C9;
  
}
/*Blog page*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
  margin-left: 7%;
  margin-right: 7%;
}

.container img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #8D8D8D;
}
.card__body p{
  color: #8D8D8D;

}

/*Responsivness*/
@media only screen and (max-width:226px){
  .right-home img{
    margin-right: 20%;
  }
  
}

/* This is for tablets */
@media only screen and (min-width: 640px) {
  
}

/* This is for ipads */
@media only screen and (min-width: 768px) {
  
}

/* This is for pcs */
@media only screen and (min-width: 1024px) {
  
}
@media only screen and (max-width:226px){
  .main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}
@media only screen and (max-width:230px){
  .about-right p3{
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
  }
  header{
    margin-left: 70px;
    margin-right: 70px;
  }
  
}
@media only screen and (max-width:232px){
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
}
